@font-face {
    font-family: 'latobold';
    src: url('../fonts/Lato-Bol.ttf');
}
@font-face {
  font-family: 'latoreg';
  src: url('../fonts/Lato-Reg.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'latolig';
  src: url('../fonts/Lato-Lig.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'solprobold';
  src: url('../fonts/SolPro-Bold.otf'); /* IE9 Compat Modes */
}

body {
    background: #000 url("../img/bg-landing.jpg") no-repeat scroll center top / cover ;
    min-height: 650px;
}
body.regitration-bg {
    background: #000 url("../img/bg-landing-red.jpg") no-repeat scroll center top / cover ;
    min-height: 650px;
}
#content {
    margin-top: 15px;
}
.block-content {
    margin-top: 15px;
}
.modal-body.tnc {
    height: 450px;
    margin-bottom: 10px;
    overflow-y: scroll;
}
.btn-registration {
    background: #851918;
    border: 1px solid #913e33;
    color: #fff;
    display: block;
    font-family: "latobold";
    margin-bottom: 10px;
    padding: 10px 30px;
    text-decoration: none;
}
.btn-registration:hover {
    background: #913e33 none repeat scroll 0 0;
    border: 1px solid #7d1e1c;
    color: #fff;
    display: block;
    font-family: "latobold";
    margin-bottom: 10px;
    padding: 10px 30px;
    text-decoration: none;
}
.btn-input:hover {
    background: #851918 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 30px;
    text-decoration: none;
}
.hint h3 {
    color: #e92d30 !important;
}
.hint a {
    color: #fff;
}
.block-content .title {
    color: #333;
    font-family: "latobold";
}
.block-content input {
    font-family: "latoreg";
}
.btn-input {
    font-family: "latobold";
    background: #0c4da2 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    margin-bottom: 10px;
    padding: 10px 30px;
    text-decoration: none;
}
.bottom > p {
    font-family: "latobold";
    font-size: 11px;
}
.tnc {
    color: #333;
    font-family: "latoreg";
    font-size: 13px;
    text-decoration: none;
}
.tnc:hover {
    color: #333;
    font-size: 13px;
    text-decoration: none;
}
.modal h3 {
    font-family: "latobold";
    font-size: 25px;
}
.modal-header > p {
    font-family: "latoreg";
}
.modal-body .title {
    font-family: "latobold";
}
.modal-body > p {
    font-family: "latoreg";
}
.content-left, .content-center {
    margin-bottom: 20px;
}
.content-right {
    margin-bottom: 100px;
}
.btn-login-twitter {
    background: #1f8dae none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: "latolig";
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}
.btn-login-twitter:hover {
    background: #55acee none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: "latolig";
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}
.btn-click-here {
    background: #ad2724 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
}
.btn-click-here:hover {
    background: #EF1F1E none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
}
.registration-login h2 {
    text-align: center;
}
.registration-login p {
    text-align: center;
}
.wording {
    padding-left: 20px;
}
.block-content {
    padding-left: 20px;
}
.logo-content {
    position: relative;
}
.logo-content .highlight {
    left: -130px;
    margin-top: 50px;
    position: absolute;
}
.wording > h3 {
    color: #fff;
    font-family: "latolig";
    font-size: 15px;
    line-height: 20px;
}
.block-content span {
    color: #fff;
    font-family: "latolig";
}
.form-bottom.twitter {
    margin-top: 0px;
}
.checkbox, .radio {
    color: #000;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.bottom {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    padding-bottom: 0;
    padding-top: 10px;
    position: fixed;
    right: 0;
    font-family: "latoreg";
}
.form-group input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
    box-shadow: none;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: "latoreg";
}
.modal-body a {
    background: #ccc none repeat scroll 0 0;
    color: #666;
    display: inherit;
    font-family: "latobold";
    padding: 10px;
    text-decoration: none;
}
.modal-body a:hover {
    background: #ed1c24 none repeat scroll 0 0;
    color: #fff;
    display: inherit;
    font-family: "latobold";
    padding: 10px;
    text-decoration: none;
}
.modal-header {
    border: medium none;
}

.content-right img {
    margin-top: 25%;
    width: 70%;
}
.logo-content img {
    margin-top: 40%;
    width: 100%;
}
.content-center img {
    left: -180px;
    position: absolute;
    top: -20px;
}
.content-right .form-bottom {
    left: -275px;
    position: absolute;
    top: 50px;
}
.content-right .form-bottom.vote {
    left: -400px;
    position: absolute;
    right: 150px;
    top: 70px;
}
.vote p {
    color: #333;
    font-family: "latoreg";
    padding-top: 5px;
}
.vote a {
    text-decoration: none;
}
.form-group > span {
    display: inline-block;
    padding-right: 10px;
}
.vote-popup a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.vote-popup legend {
    font-family: "latobold";
}
.vote-popup .form-group p {
    font-family: "latobold";
    margin-bottom: 0;
}
.vote-popup .form-group h5 {
    font-family: "latoreg";
}
.form-group > label {
    font-family: "latobold";
    margin: 0;
}
.registration-form input {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #333;
    font-family: "latoreg";
    height: 40px;
    margin: 5px 0 0;
}
.form-email.form-control.captcha {
    background: #dccbc4 none repeat scroll 0 0;
}
.img-responsive.captha {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.registration-form .form-group {
    margin-bottom: 0px;
}
.checkbox > label {
    font-family: "latoreg";
    font-size: 11px;
    line-height: 24px;
}


/*registration*/

.registration .logo-content img {
    left: -125px;
    margin-top: 0;
    position: relative;
    width: 70%;
}
.registration .block-content {
    padding: 0;
}
.registration .wording {
    color: #fff;
    font-family: "latobold";
    padding: 0;
}
.registration .wording p {
    font-family: "latolig";
    color: #c9c8cc;
}
.registration .content-right img {
    margin-top: 10%;
}
.registration.login .content-right img {
    margin-top: 0;
}
.load-more a {
    border: 1px solid #e62d2d;
    border-radius: 5px;
    color: #e62d2d;
    display: inline-block;
    font-family: "latoreg";
    padding: 5px;
    text-decoration: none;
}
.bar-top-content.information > a {
    color: #e92d30;
}
.bar-top {
    margin-top: 50px;
    text-align: right;
}
.registration .wording h2 {
    color: #c9c8cc;
    font-family: "solprobold";
    font-size: 35px;
    font-style: italic;
}
.registration select {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    border: 1px solid #333;
    height: 40px;
    margin-top: 5px;
}
.checkbox input {
    height: auto;
}
.registration ::-webkit-input-placeholder {
   color: #333;
}
.registration ::-moz-placeholder {
   color: #333;
}
.registration :-ms-input-placeholder {
   color: #333;
}
.registration ::-webkit-input-placeholder {
   color: #333;
}
.modal-header {
    background: #a71f23 none repeat scroll 0 0;
    color: #fff;
}
.modal-body.tnc {
    background: #a71f23 none repeat scroll 0 0;
    color: #fff;
    margin-bottom: 10px;
}
.modal-content {
    background: #a71f23 none repeat scroll 0 0;
}
#success h3 {
    font-family: "latolig";
    font-size: 14px;
}
#success .modal-dialog {
    top: 30%;
}
.modal.fade.in {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
}
.bar-top-content.information.icon > a {
    margin-left: 10px;
}
.block-img-profile img {
    border: 5px solid #fff;
    border-radius: 100px;
    height: 130px;
    overflow: hidden;
    width: 130px;
}
.content-profile .name {
    color: #fff;
    font-family: "latobold";
    font-size: 20px;
}
.content-profile h4 {
    color: #fff;
    font-family: "latoreg";
    font-size: 12px;
    margin: 0 0 5px;
}
.content-profile .point-caption {
    font-family: "latobold" !important;
    font-size: 12px !important;
    margin-top: 10px !important;
}
.content-profile h1.point {
    color: #fff;
    font-family: "latobold";
    margin-top: 0;
}
.block-content-profile {
    background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
    border-top: 3px solid #e62d2d;
    padding-top: 60px;
}
.tab-profile .panel.with-nav-tabs.panel-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.tab-profile .panel-heading {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.content-profile {
    position: relative;
    top: -115px;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}
.panel{border-bottom:0;
border-left:0;
border-right:0;}
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
    border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
    margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL PRIMARY ***/

.with-nav-tabs.panel-primary .nav-tabs > li.active > a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #e62d2d;
    border-color: #333 #333 #e62d2d;
    color: #e62d2d;
    font-family: "latobold";
}

.panel.with-nav-tabs.panel-primary {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.tab-profile ul.nav-tabs {
    border-bottom: 1px solid #555 !important;
}
.nav.nav-tabs a {
    color: #333;
    font-family: "latobold";
}
.tab-profile .panel-body {
    border-bottom: 1px solid #333;
    min-height: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.tab-profile .tab-content a {
    color: #e62d2d;
}
.tab-profile {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.tab-content h4 {
    font-size: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.media-body a {
    background: #e92d30 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-family: "latobold";
    margin-top: 15px;
    padding: 5px 30px;
    text-decoration: none;
}
.media-body input#profile {
    display: inline-block;
    margin-top: 10px;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #333!important;
    color: #fff;
    font-family: "latoreg";
}
.table-striped > tbody > tr{
    color: #fff;
    font-family: "latoreg";
}
.tab-content td {
    border: medium none !important;
}
.fa-check.green {
    color: #5da046;
    font-size: 23px;
}
.fa-times.red {
    color: #E42E32;
}

#question .modal-content {
    background: #f2f2f2 none repeat scroll 0 0;
}
#question .modal-header {
    background: #f2f2f2 none repeat scroll 0 0;
}
#question .modal-content h2 {
    font-family: "latoreg";
    text-align: center;
}
.answer .form-group label {
    font-family: "latoreg" !important;
    font-weight: normal;
}
.answer .form-group {
    margin: 0;
    padding-left: 20px;
}
.btn-answer > a {
    background: #e92d30 none repeat scroll 0 0;
    color: #fff !important;
    text-align: center;
}
.modal.fade.in {
    padding: 0 !important;
}
.upload input {
    width: 100%;
}
.upload p {
    color: #fff;
    font-family: "latoreg";
    text-align: left;
}


 /* Large Devices, Wide Screens */
    @media only screen and (min-width : 993px) and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 769px) and (max-width : 992px) {
        .content-left img {
            left: 0;
            position: relative;
        }
        .content-right .form-bottom  {
            left: 0;
            right: 0;
            position: relative;
        }
        .content-center img {
            left: 0;
            position: relative;
            top: 0;
        }
        .form-bottom.twitter {
            margin-top: 0;
        }
        .content-right .form-bottom.vote {
            left: 0;
            position: relative;
            right: 0;
            top: 0;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 481px) and (max-width : 768px) {
        .logo-content img {
            margin-top: 10%;
            width: 100%;
        }

        .block-content-profile {
            background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
            border-top: 3px solid #e62d2d;
            margin-top: 80px;
            padding-top: 60px;
        }

        .registration .logo-content img {
            left: -30px;
            margin-top: 0;
            position: relative;
            width: 70%;
        }

        .bar-top {
            margin-top: 10px;
            text-align: right;
        }
        .registration .content-right img {
            margin-top: 30px;
        }
        .checkbox > label {
            color: #fff;
            font-family: "latoreg";
            font-size: 10px;
            line-height: 24px;
        }


        .content-right img {
            margin-top: 10%;
            width: 100%;
        }

        .content-left img {
            left: 0;
            position: relative;
        }
        .content-right .form-bottom  {
            left: 0;
            right: 0;
            position: relative;
        }
        .content-center img {
            left: 0;
            position: relative;
            top: 0;
        }
        .form-bottom.twitter {
            margin-top: 0;
        }
        .content-right .form-bottom.vote {
            left: 0;
            position: relative;
            right: 0;
            top: 0;
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 321px) and (max-width : 480px) {
        .logo-content img {
            margin-top: 10%;
            width: 100%;
        }


        .block-content-profile {
            background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
            border-top: 3px solid #e62d2d;
            margin-top: 80px;
            padding-top: 60px;
        }

        .registration .logo-content img {
            left: -30px;
            margin-top: 0;
            position: relative;
            width: 70%;
        }
        .bar-top {
            margin-top: 10px;
            text-align: right;
        }
        .registration .content-right img {
            margin-top: 30px;
        }
        .checkbox > label {
            color: #fff;
            font-family: "latoreg";
            font-size: 10px;
            line-height: 24px;
        }

        .content-right img {
            margin-top: 10%;
            width: 100%;
        }

        .content-left img {
            left: 0;
            position: relative;
        }
        .content-right .form-bottom  {
            left: 0;
            right: 0;
            position: relative;
        }
        .content-center img {
            left: 0;
            position: relative;
            top: 0;
        }
        .form-bottom.twitter {
            margin-top: 0;
        }
        .content-right .form-bottom.vote {
            left: 0;
            position: relative;
            right: 0;
            top: 0;
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .logo-content img {
            margin-top: 10%;
            width: 100%;
        }

        .block-content-profile {
            background: rgba(0, 0, 0, 0.9) none repeat scroll 0 0;
            border-top: 3px solid #e62d2d;
            margin-top: 80px;
            padding-top: 60px;
        }

        .registration .logo-content img {
            left: -30px;
            margin-top: 0;
            position: relative;
            width: 70%;
        }
        .bar-top {
            margin-top: 10px;
            text-align: right;
        }
        .registration .content-right img {
            margin-top: 30px;
        }
        .checkbox > label {
            color: #fff;
            font-family: "latoreg";
            font-size: 10px;
            line-height: 24px;
        }


        .content-right img {
            margin-top: 10%;
            width: 100%;
        }

        .content-left img {
            left: 0;
            position: relative;
        }
        .content-right .form-bottom  {
            left: 0;
            right: 0;
            position: relative;
        }
        .content-right .form-bottom.vote {
            left: 0;
            position: relative;
            right: 0;
            top: 0;
        }
        .content-center img {
            left: 0;
            position: relative;
            top: 0;
        }
        .form-bottom.twitter {
            margin-top: 0;
        }
    }

